@font-face {
    font-family: "dm";
    src: url(font/DMSans-VariableFont_opsz\,wght.ttf);
}

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "dm";
    scrollbar-width: thin;
    
}



body{
    padding-top: 130px;
}
a{
    text-decoration: none;
    color: #666666;
    justify-content: space-between;
}
header{
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    width: 1535px;
    padding: 20px 0;
    background-color: white;

}

nav{
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-family: "dm";
    font-size: 13px;
}

.titulo{
    font-size: 156px;
 
    text-align: center;
    font-weight: 800;
    letter-spacing: 7px;
}

.fotos{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.musica{
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 190px 0;
    margin-top: 80px;
    margin-bottom: 180px;
    

}

.why{
    font-size: 30px;
}

.cantores{
    font-size:15px ;
    margin-top: 50px;
    margin-left: 250px;
}

.sinopse{
    display: flex;
    flex-direction: row;
    padding: 0 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
   
    
}

.ti{
 font-size: 40px;
 font-weight: 700;
}

.te{
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
   }

   .texto{
    
        padding-left: 60px;
      
   }

   .pola{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    background-color: #EEEEEE;
    width: 330px;
    height: 410px;
    align-items: center;
    justify-content: center;
   }

   .pola img{
    height: 270px;
    width: 270px;
   }

   .atores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 120px;
   }

   .nome{
    padding-top: 30px;
    font-size: 30px;
    font-weight: 400;
   }

   .detalhes img{
    height: 620px;
    
   }

   .lancamento img{
   height: 50px;
  
   }

   .detalhes{
    display: flex;
    flex-direction: row;
    padding: 90px 230px;
    justify-content: space-between;
    align-items: center;
   }

   .lancamento span{
    font-weight: 600;
    font-size: 24px;
    color: #313131;
   }

   .deta{
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 30px;
   }
   .lancamento {
    font-size: 24px;
   }
   .trailer {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    position: relative; /* Adiciona posição relativa ao contêiner */
    align-items: center;
    margin-bottom: 90px;
}

.trailer img {
    height: 520px;
}

#play {
    height: 50px;
    position: absolute; 
    top: 46%; 
    left: 48%; 
    
    cursor: pointer; 
    margin-bottom: 400px;
    transition: transform 0.3s ease-in-out;
}

#play:hover {
    transform: scale(1.11);
   
  }

  footer{
    background-color: #2F4157;
   height: 20px;
   padding: 5px;
 
   
  
   
  }

